.likes{
  padding: 0.5rem;
}

.fa-solid{
  color: aliceblue;
  transform: scale(1.5);
  transition: transform 0.2s ease-in;
}

.fa-solid:hover{
  transform: scale(2.2);
}

.fa-solid.red{
 color: #e3638c;
}

.fa-solid:hover{
  transform: scale(2.0);
}

.like{
  display: inline-block;
  padding: 0.2rem 1rem 0.2rem .7rem;
  color: white;
}

.display-none{
    display: none;
}

.like.count{ 
    padding-right: 1rem;
    padding-left: 0rem;
}
.like.users{
    padding: 0rem;
    color: #e3638c;
}

.like.users:last-child .coma{
    display: none;
}