.likes{
  padding: 0.5rem;
}


.fa-solid{
  color: aliceblue;
  transform: scale(1.5);
  transition: transform 0.2s ease-in;
}

.fa-solid:hover{
  transform: scale(2.2);
}

.likes__remove .fa-solid{
 color: var(--my-color);
}

.fa-solid:hover{
  transform: scale(2.0);
}

.likes__add,
.likes__remove{
  display: inline-block;
  padding: 0.2rem 1rem 0.2rem .7rem;
  color: white;
  margin:0;
}

.display-none{
    display: none;
}

.likes__count{ 
    display: inline-block;
    padding-right: 1rem;
    padding-left: 0rem;
    
}
.likes__users{
    padding: 0rem;
    margin-right: 0.4rem;
    color: var(--my-color)
}

.likes__users:last-child .likes__coma{
    display: none;
}
.likes__coma{
  margin:0;
  padding: 0;
}