.modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  color: black;
  /* overflow: auto for sign up page to go over keyboard when typing */
  overflow: auto;
}

/* define height in map-container in eventitem.css */
.modal.event-item__modal{
  top:5vh;
  width: 90%;
  left: 5%;
}
.modal.event-item__modal form{
  height: 100%;
}
.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: var(--my-color);
  color: white;
}
.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0.5rem;

}
.modal__footer {
  padding: 1rem 0.5rem;
}



@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
  
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
  
/* styling for sign up page: */

.modal.create-account{
  position: absolute;
  top: 5vh;
  max-width: 30rem;
}
@media (min-width: 768px) {
  .modal.create-account {
    left: calc(50% - 15rem);
    width: 30rem;
  }
}
 .modal__header.create-account{
  display: none;
}
.modal__content.create-account{
  padding:0
}
.modal__footer.create-account{
  display: none;
}
