.event-item {
  margin: .3rem 0 1.5rem 0;
}

.event-item__content {
  padding: 0;
  background-color: #212428;
}

.event-item__info {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content:center;

}

.event-item__name,
.event-item__description,
.event-item__date,
.event-item__avatar{
  margin: 0.1rem 0.2rem 0.3rem 0.3rem;
  text-align: center;

}

.event-item__description{
  color: var(--my-color);
  font-size: 1.2rem;
  font-style: italic;
}

.event-item__avatar{
  position:relative;
  display: inline-block;
  height:50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}
.event-item__avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:relative;
}

/* .event-item__info p{
  margin-left: 50px;
} */

.event-item__image {
  width: 100%;
  max-height: 70vh;
  margin-right: 1.5rem;
  overflow: hidden;
}

.event-item__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-item__image--background{
  /* strangely max-height can not be ovewritten by just height
  and in here we need fixed height of the whole screen
  so we have to unset it first aor the div will only be 70vh */
  max-height: unset;
  position: fixed;
  top:0;
  left:0;
  background: #212428;
  height: 100vh;
  width: 100vw;
  z-index: 300;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-item__full-image{
  /* align items  center of its container centers it */
    object-fit: cover;
    width: auto;
    /* height: auto; */
    max-height: 95vh;
    position: relative;
    z-index:2;
    /* transform: translateY(50%,50%); */
}

@media(max-width: 900px){
  .event-item__full-image{
    width: 100%;
  }
}


/* posts: */

.event-item__info--post{
  margin: 0.5rem;
  display: flex;
  flex-direction: column;


}

.event-item__description--post{
  padding: 1.5rem .5rem;
  text-align: center;
  font-weight:lighter;
  font-size: 1.2rem;
  margin: 1rem;
  font-style:italic;
  min-height: 10vh ;
}

@media(max-width: 900px){
  .event-item__description--post{
    padding: 1.5rem .5rem;
    margin: 1rem .2rem;
  }
}


.event-item a{
  color: white;
}


/* actions: */
.event-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.event-item__modal-content {
  padding: 0;
}

.event-item__modal-actions {
  text-align: right;
}

.event-item__actions button,
.event-item__actions a {
  padding-left: 1rem;
  padding-right: 1rem; 
  margin-right: 0.2rem;
}

.event-item__actions button{
  background-color: #212428;
  color: rgb(183, 176, 176);
  font-size: 1.1rem;
  font-weight: 500;
}
.event-item__actions a{
  background-color: #212428;
  color: rgb(183, 176, 176);
  font-size: 1.1rem;
  font-weight: 500;
}

.map-container{
  height: 62vh;
  width: 100%;
}