.create-account h1{
    margin:0;
    padding: 0;
}
.create-account h4{
    margin: 0;
    font-weight: 400;
}

.create-account hr{
    margin: 0.3rem;
}


.create-account button{
    width: 50%;
    padding: .8rem;
    background-color: var(--my-color);
    transition: all .2s linear;
}
.create-account button:hover{
    color: white;
    border-color:rgb(63, 116, 52);
    background-color: rgba(49, 192, 13, 0.911); 
}