.button {
  font: inherit;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  border-radius: 6px;
  background: #e3638c;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  /* width: 100%; */
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: white;
  color: #e3638c;
  border-color: #e3638c;
}

.button--inverse {
  background: #e3638c;
  border-color: white;
  border: 1px solid #e3638c;
}

.button--inverse:hover,
.button--inverse:active {
  color: #e3638c;
  background: white;
}

.button--danger {
   background: white;
  color: #ff0055;
  background: #212428;
  border-color: #e3638c;
}

.button--danger:hover,
.button--danger:active {
  background: #e3638c;
  border-color: white;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}