.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  padding-bottom: 0.1rem;
  font: inherit;
  font-size: 1.3rem;
  width: 100%;
}
.nav-links li {
  margin: 1.2rem 0;
}

.nav-links li:hover,
.nav-links li:active,
.nav-links li.active {
  border-bottom: 4px solid white;
  color: white;
}

.nav-links a.active {
  border-bottom: 4px solid white;
  color: white;
}
.nav-links__desktop--dropdown{
  display: none;
}


@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links__desktop--dropdown{
    display: block;
    position: relative;
    min-width: 7rem;
  }
  
  .nav-links__desktop--dropdown__content {
    /* automatically takes the width of its parent element */
   display: none;
   position: absolute; 
   top: 120%;
   background-color: var(--my-color);
   z-index: 2; 
   margin-left:0;
   padding-left: 0;
 }
 
 .nav-links__desktop--dropdown__item{
   display: block;
   padding: 0.3rem 0;
   margin: .7rem 0;
 }
 
 .nav-links__desktop--dropdown:hover .nav-links__desktop--dropdown__content{
   display: block;
 }
 
 /* we need this weird selecting to overwrite this: .nav-links li {
  margin: 1.2rem 0;
} */
 .nav-links li.nav-links__desktop--dropdown__item{
   padding: 0.3rem 0;
   margin: .7rem 0;
 }

 .nav-links__mobile{
  display: none;
}

  

 }


